<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Item0</key>
	<dict>
		<key>name</key>
		<string>WelcomeTerminal</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>Welcome to the Mehnerpta VII Generation Ship!  We are at our destination of Tau Ceti 5!  Please make your way to the nearest drop ship for planetary landing.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item0 - 3</key>
	<dict>
		<key>name</key>
		<string>Wrench</string>
		<key>type</key>
		<string>wrench</string>
		<key>message</key>
		<string>Meac Corp</string>
		<key>access code</key>
		<string>000</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item7</key>
	<dict>
		<key>name</key>
		<string>WelcomeTerminal2</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>The Enzmann starship is a concept for a manned interstellar spacecraft proposed in 1964 by Dr. Robert Enzmann. A three million ton ball of frozen deuterium would fuel nuclear fusion rocket engines contained in a cylindrical section behind that ball with the crew quarters. The craft would be about 2,000 feet (600 m) long overall.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item1</key>
	<dict>
		<key>name</key>
		<string>KeyCard1</string>
		<key>type</key>
		<string>keycard</string>
		<key>message</key>
		<string>Cmdr. Jones Riley // all zones</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item2</key>
	<dict>
		<key>name</key>
		<string>AccessDoor1</string>
		<key>type</key>
		<string>door</string>
		<key>message</key>
		<string>Door to Zone 2</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item3</key>
	<dict>
		<key>name</key>
		<string>SulfurPod1</string>
		<key>type</key>
		<string>pod</string>
		<key>message</key>
		<string>Hydrogen Sulfur (H2S) Pod for Chem Hybernation</string>
		<key>access code</key>
		<string>0000000</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item4</key>
	<dict>
		<key>name</key>
		<string>Wrench1</string>
		<key>type</key>
		<string>weapon</string>
		<key>message</key>
		<string>Meac Tool Corporation</string>
		<key>access code</key>
		<string>0000000</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item5</key>
	<dict>
		<key>name</key>
		<string>DropShipTerminal</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>Scan planetary drop access card to activate drop ship.</string>
		<key>access code</key>
		<string>z6573p9</string>
		<key>zone</key>
		<integer>5</integer>
	</dict>
	<key>Item6</key>
	<dict>
		<key>name</key>
		<string>SulfurPodTerminal</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>Subject will breathe atmosphere which contains slight doses of Hydrogen Sulfur (H2S), a gas that it is toxic and in higher doses is lethal. The H2S molecule binds to the same place as oxygen normally would thus reducing the organism capability to take in oxygen. The body then has an undersupply of oxygen and slows down the metabolism to counteract this danger.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item8</key>
	<dict>
		<key>name</key>
		<string>WelcomeTerminal3</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>The spacecraft is modular, and the main living area is three identical 300 feet (91 m) wide and long cylindrical modules. This Enzmann type ship could function as an interstellar ark, supporting a crew of 200 but with space for expansion.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item8 - 2</key>
	<dict>
		<key>name</key>
		<string>DeuteriumTerminal1</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>Deuterium (or hydrogen-2, symbol D or 2H also known as heavy hydrogen) is one of two stable isotopes of hydrogen (the other being protium, or hydrogen-1). The nucleus of deuterium, called a deuteron, contains one proton and one neutron, whereas the far more common protium has no neutron in the nucleus. Deuterium has a natural abundance in Earth&apos;s oceans of about one atom in 6420 of hydrogen. 
Thus deuterium accounts for approximately 0.02% (or, on a mass basis, 0.03%) of all the naturally occurring hydrogen in the oceans, while protium accounts for more than 99.98%. The abundance of deuterium changes slightly from one kind of natural water to another (see Vienna Standard Mean Ocean Water).</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>2</integer>
	</dict>
	<key>Item8 - 2 - 2</key>
	<dict>
		<key>name</key>
		<string>DeuteriumTerminal2</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>The deuterium isotope&apos;s name is formed from the Greek deuteros, meaning &quot;second&quot;, to denote the two particles composing the nucleus.[2] Deuterium was discovered and named in 1931 by Harold Urey. When the neutron was discovered in 1932, this made the nuclear structure of deuterium obvious, and Urey won the Nobel Prize in 1934 “for his discovery of heavy hydrogen”. Soon after deuterium&apos;s discovery, Urey and others produced samples of &quot;heavy water&quot; in which the deuterium content had been highly concentrated.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>2</integer>
	</dict>
	<key>Item8 - 2 - 2 - 3</key>
	<dict>
		<key>name</key>
		<string>FoodTerminal1</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>“We found that, for an heterogeneous crew of, e.g., 500 people living on an omnivorous, balanced diet, 0.45 km sq. [0.17 mi sq]of artificial land would suffice in order to grow all the necessary food using a combination of aeroponics (for fruits, vegetables, starch, sugar, and oil) and conventional farming (for meat, fish, dairy, and honey).”</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>3</integer>
	</dict>
	<key>Item8 - 2 - 2 - 3 - 2</key>
	<dict>
		<key>name</key>
		<string>FoodTerminal1</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>These values also provide some architectural constraints for the minimum size of the generation ship itself. Assuming the ship were designed to generate artificial gravity by centripetal force (i.e. a rotating cylinder) the would need be a minimum of about 224 meters (735 feet) in radius and 320 meters (1050 feet) in length.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>3</integer>
	</dict>
	<key>Item8 - 2 - 2 - 3 - 2 - 2</key>
	<dict>
		<key>name</key>
		<string>FoodTerminal1</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>“Of course, other facilities besides farming are necessary – human habitation, control rooms, power generation, reaction mass and engines, which make the spaceship at least twice larger,” Dr. Marin added. “Interestingly, even if we double the length of the spaceship, we find a structure that is still smaller than the tallest building in the world – Burj Khalifa (828 m; 2716.5 ft).”</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>3</integer>
	</dict>
	<key>Item8 - 2 - 2 - 3 - 2 - 2 - 2</key>
	<dict>
		<key>name</key>
		<string>WaterTerminal1</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>According to Marin, the only remaining issue that needs to be explored is water. Any mission involving a large crew spending upwards of a few centuries in interstellar space is going to need plenty of water for drinking, irrigation, and sanitation. And it is not enough to simply rely on recycling methods to ensure a steady supply.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>3</integer>
	</dict>
	<key>Item8 - 2 - 2 - 2</key>
	<dict>
		<key>name</key>
		<string>DeuteriumTerminal3</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>Deuterium is destroyed in the interiors of stars faster than it is produced. Other natural processes are thought to produce only an insignificant amount of deuterium. Nearly all deuterium found in nature was produced in the Big Bang 13.8 billion years ago, as the basic or primordial ratio of hydrogen-1 to deuterium (about 26 atoms of deuterium per million hydrogen atoms) has its origin from that time.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>2</integer>
	</dict>
	<key>Item0 - 2</key>
	<dict>
		<key>name</key>
		<string>WelcomeTerminal</string>
		<key>type</key>
		<string>terminal</string>
		<key>message</key>
		<string>Project Daedalus was a study conducted between 1973 and 1978 by the British Interplanetary Society to design a plausible unmanned interstellar spacecraft.[1] Intended mainly as a scientific probe, the design criteria specified that the spacecraft had to use existing or near-future technology and had to be able to reach its destination within a human lifetime. Alan Bond led a team of scientists and engineers who proposed using a fusion rocket to reach Barnard&apos;s Star 5.9 light years away.</string>
		<key>access code</key>
		<string>a743yk2</string>
		<key>zone</key>
		<integer>1</integer>
	</dict>
	<key>Item4 - 2</key>
	<dict>
		<key>name</key>
		<string>FireAxe</string>
		<key>type</key>
		<string>weapon</string>
		<key>message</key>
		<string>Meac Tool Corporation</string>
		<key>access code</key>
		<string>0000000</string>
		<key>zone</key>
		<integer>2</integer>
	</dict>
	<key>Item4 - 2 - 2</key>
	<dict>
		<key>name</key>
		<string>FirstAid</string>
		<key>type</key>
		<string>health</string>
		<key>message</key>
		<string>Aemebo Health Care</string>
		<key>access code</key>
		<string>0000000</string>
		<key>zone</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
